# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Django
db.sqlite3
media/
uploads/
*.log

# Virtual environments
env/
venv/
ENV/
.venv/

# VS Code and IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Secrets 
config.py

# Migrations (optional: keep if you want to track DB schema)
# uploads/migrations/
# userbase/migrations/